<% include head/header %>
<h1 id="txt">Push start</h1>
<p>
  id:<span id="num"><%= id %></span> start time:<span id="stime"><%= start %></span>
</p>
<p>
  <span id="debug">for debug</span>
</p>
    <ul id="logs"></ul>
    <button id="button" onclick="Play()" style="WIDTH:200px;HEIGHT:20px"> start </button><br />
    
<script type="text/javascript"> 
  var num = <%= id %>;      
  var ul_lo=<%= ul_lo_freq %>,
      lo=<%= lo_freq %>,
      mid=<%= mid_freq %>,
      hi=<%= hi_freq %>,
      ul_hi=<%= ul_hi_freq %>;

  var ul_lo_mod = <%= ul_lo_mod %>;
  var lo_mod = <%= lo_mod %>;
  var mid_mod = <%= mid_mod %>;
  var hi_mod = <%= hi_mod %>;
  var ul_hi_mod = <%= ul_hi_mod %>;
</script>
<script type="text/javascript" src="javascripts/sine.js"></script>

<% include head/footer %>
