<% include head/header %>
  <h1>feedback<%= init_emitmode %></h1>
  <p><div id="myid"></div></p>
  <p><div id="rcvid"></div></p>
  <p>mode-- all:<input type="radio" name="mode" value="all"> broadcast<input type="radio" name="mode" value="broadcast"> nextdoor:<input type="radio" name="mode" value="nextdoor"> random:<input type="radio" name="mode" value="random"> rec_only:<input type="radio" name="mode" value="reconly"></p>
  <p>load-- stream:<input type="radio" name="load" value="stream"> buffer1<input type="radio" name="load" value="buffer1"> buffer2:<input type="radio" name="load" value="buffer2"> buffer3:<input type="radio" name="load" value="buffer3"></p>
  <p><span id="rec_switch">rec off</span></p>
  <p><span id="debug">debug link</span></p>
  <p>
    <span id="emitmode"></span><br>
    <span id="receivemode"></span><br>
  </p>
  <p><div id="print"></div></p>
  <script type="text/javascript">
    var speak_flag = <%= init_speak %>;
    var sampleRate = <%= init_rate %>;
    var bufferSize = <%= init_size %>;
    var jumpBit = <%= init_jump %>;
    var emitMode = <%- JSON.stringify(init_emitmode) %>
    var receiveMode = <%- JSON.stringify(init_receivemode) %>;
  </script>
  <script src="/javascripts/getusermedia.js"></script>
  <script src="/javascripts/osc.js"></script>
  <script src="/javascripts/Recorderjs/recorder.js"></script>
  <ul id="url"></ul>
<% include head/footer %>
